<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IFE: Search Results</title>
</head>
 <!--   <script type="text/javascript">
        window.history.pushState(null, "IFE: Menu", "{{url_for('menu')}}");
        window.addEventListener('popstate', function (event)
        {
          window.history.pushState(null, "IFE: Menu", "{{url_for('menu')}}");
        });
    </script>-->
<body>
<link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
<form action="/login" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Login</h1>
			</div>
			<div class="login-form">
				<div class="control-group">
					<input type="text" class="login-field" value="" placeholder="username" name="username">
					<label class="login-field-icon fui-user" for="login-name"></label>
				</div>
				<div class="control-group">
					<input type="password" class="login-field" value="" placeholder="password" name="password">
					<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>
				<input type="submit" value="Log in" class="btn btn-primary btn-large btn-block">
                {% if error %}
                <p><strong>Error:</strong> {{ error }}
                {% endif %}
				</div>
		</div>
	</div>
</form>
</body>
</html>