<link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
<form action="/searchMAC" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="login-form">
				<div class="control-group">
					<input type="text" class="login-field" value="" placeholder="MAC: h:h:h:h:h:h" name="MAC">
					<label class="login-field-icon fui-user" for="login-name"></label>
				</div>
		        		<input type="submit" name="submit" value="Search" class="btn-parallel ad-left">
					    <input type="submit" name="submit" value="Menu" class="btn-parallel ad-right">
                        {% if error %}
                        <p><strong>Error:</strong> {{ error }}
			            {% endif %}
                </div>
            </div>
        </div>
    </div>
</form>